nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
    button#menu-toggle.btn.btn-hp Lollipops & Rainbow
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.navbar-collapse.collapse    
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item
                a.nav-link(href="/") Home                    
            li.nav-item
                a.nav-link(href="/family") Family
            li.nav-item
                a.nav-link(href="/kids") Kids
            li.nav-item
                a.nav-link(href="/newborn") Newborn
            li.nav-item
                a.nav-link(href="/smokebombs") Smoke Bombs
            li.nav-item
                a.nav-link(href="/petsevents") Pets & Events
            li.nav-item
                a.nav-link(href="/about") About     
            li.nav-item
                a.nav-link(href="/email") Contact Us
            