extends layout

block content
  .container
    .row(style="min-height:300px")
      .col-6
      .col-6
    .row(style="min-height:0px")
      .col-12.text-center
        .btn-group
          a.btn.btn-outline-dark(href="/") Home                    
          a.btn.btn-outline-dark(href="/family") Family
          a.btn.btn-outline-dark(href="/kids") Kids
          a.btn.btn-outline-dark(href="/newborn") Newborn
          a.btn.btn-outline-dark(href="/smokebombs") Smoke Bombs
          a.btn.btn-outline-dark(href="/petsevents") Pets & Events
          a.btn.btn-outline-dark(href="/about") About     
          a.btn.btn-outline-dark(href="/email") Contact Us
    .row(style="min-height:540px")
      .col-1
      .col-10
        .container
          .row(style="min-height:480px")
            .col-12
          .row(style="min-height:80px")
            .col-12
      .col-1
  //- h1= title
  //- p Welcome to #{title}
  //- add componenets for gallery
  //- add music controls and auto play
